# Puertos (referencia; el mapeo real está en docker-compose.yml)
APP_PORT=4202
NODE_VERSION=20

# Backend API (desde el contenedor Angular use host.docker.internal)
API_URL=http://host.docker.internal:8000
