<div class="sig-pad-wrap">
  <canvas
    #canvas
    class="sig-canvas"
    width="400"
    height="160"
    (pointerdown)="onPointerDown($event)"
    (pointermove)="onPointerMove($event)"
    (pointerup)="onPointerUp()"
    (pointerleave)="onPointerLeave()"
  ></canvas>
  <div class="sig-pad-footer">
    <span class="sig-pad-hint">Firme dentro del recuadro</span>
    <button mat-button type="button" (click)="clear()">
      <mat-icon>restart_alt</mat-icon> Limpiar
    </button>
  </div>
</div>
